<div *ngIf="logeado == 0 && formularioActual == 'login'">
  <app-login (eventoEnviar)="recibirLogin($event)" (cambiarFormulario)="formularioActual = 'registro'"></app-login>
</div>

<div *ngIf="logeado == 0 && formularioActual == 'registro'">
  <app-formulario (eventoEnviar)="recibirRegistro($event)" (cambiarFormulario)="formularioActual = 'login'"></app-formulario>
</div>

<div *ngIf="logeado == 1">

    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 bg-slate-900 fixed-start " id="sidenav-main">
        <app-menu></app-menu>
    </aside>


    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

        <app-encabezado></app-encabezado>
        
        <div class="container-fluid py-4 px-5">
            <router-outlet></router-outlet>
            <app-pie></app-pie>
        </div>

    </main>

</div>
