    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand d-flex align-items-center m-0" href="https://cimo.com.ec" target="_blank">
        <img src="../assets/img/logocimo.ico" class="navbar-brand-img h-100" alt="main_logo">
        <span class="font-weight-bold text-lg"> Socios CIMO</span>
      </a>
    </div>
    <div class="collapse navbar-collapse px-4  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <!-- Barra lateral - Socios -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/listado-socios" routerLinkActive="active">
            <div class="icon icon-shape icon-sm px-0 text-center d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-user-tie" style="font-size: 16px;"></i>
            </div>
            <span class="nav-link-text ms-1">Socios</span>
          </a>
        </li>

        <!-- Barra lateral - Pagos -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/pagos" routerLinkActive="active">
            <div class="icon icon-shape icon-sm px-0 text-center d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-dollar-sign" style="font-size: 16px;"></i>
            </div>
            <span class="nav-link-text ms-1">Pagos</span>
          </a>
        </li>

        <!-- Barra lateral - Mensualidades -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/reporte-mensualidades" routerLinkActive="active">
            <div class="icon icon-shape icon-sm px-0 text-center d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-wallet" style="font-size: 16px;"></i>
            </div>
            <span class="nav-link-text ms-1">Mensualidades</span>
          </a>
        </li>
        
        <!-- Barra lateral - Reportes -->
        <li class="nav-item">
          <a class="nav-link  " routerLink="/reporte-socios" routerLinkActive="active">
            <div class="icon icon-shape icon-sm px-0 text-center d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-chart-line" style="font-size: 16px;"></i>
            </div>
            <span class="nav-link-text ms-1">Reportes</span>
          </a>
        </li>
      </ul>
    </div>
